$white: #ffffff;
$black: #0a0a0a;

// color palette for the dark theme

// background
// https://coolors.co/2c3039-20232b-1d2026-1b1d23-17181b

$lightest-dark: #2c3039;
$lighter-dark: #20232b;
$light-dark: #1d2026;
$dark: #1b1d23;
$darker: #17181b;

// font
// https://coolors.co/555c68-6d737e-848a94-ffffff

$dark-lighter: #ffffff;
$dark-light: #848a94;
$dark-dark: #6d737e;
$dark-darker: #555c68;
$gray-text: #bbbbbb;

$dark-border: #333640;
$dark-error: #a32222;
$dark-error-hover: #c72828;
$dark-error-focus: #e02d2d;

$secondary: #055aec;
$secondary-hover: #1866ee;
$secondary-disabled: #2759af;

$icon: #909090;
$icon-hover: #ffffff;

$link: #3a88e0;
