@use "./colors" as *;

//Media query mixins

@mixin smallest {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin smaller {
  @media screen and (min-width: 401px) and (max-width: 550px) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 551px) and (max-width: 750px) {
    @content;
  }
}

@mixin wide {
  @media screen and (min-width: 751px) and (max-width: 1000px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1001px) and (max-width: 1200px) {
    @content;
  }
}

@mixin larger {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition {
  transition: all 0.5s;
}

@mixin icon {
  color: $icon;
/*   width: 1.5rem;
  height: 1.5rem; */

  &:hover {
    color: $icon-hover;
  }
}
