@use "../config/" as *;

.container {
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  background-color: $black;
}

.animatedbackground {
  background-color: $black;
  height: 100%;
  width: 100%;
}
