@use "../config/" as *;

.button {
  background-color: $secondary !important;
  color: $white !important;
  font-weight: bold !important;
  font-size: 14px !important;
  &:hover {
    background-color: $secondary-hover !important;
  }

  &:disabled {
    background-color: $secondary-disabled !important;
  }
}

.text-button {
  color: $dark-dark;
  font-weight: bold;
  cursor: pointer;

  &[aria-disabled="true"] {
    cursor: default;
  }
}
