@use "../config/" as *;
.name {
  display: inline-flex;
  align-items: center;
  .icon {
    align-self: flex-start;
    margin-left: 1ch;
    color: $white !important;
  }
}

.tabs {
  padding: 1rem 2rem;
  padding-bottom: 0;
  display: flex;
  margin-bottom: 1rem;

  .tab {
    user-select: none;
    color: $dark-light;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0.5rem 0;
    margin: 0 1rem;
    border-bottom: solid 2px transparent;
    transition: all 0.2s;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
      margin-right: 1rem;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 1rem;
    }

    &[aria-selected="true"] {
      color: $white;
      border-bottom: solid 2px $white !important;
    }

    &:hover {
      border-bottom: solid 2px $dark-light;
    }
  }

  .join-group {
    margin-left: auto;
  }
}

.content {
  padding: 0 2rem 2rem 2rem;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .members {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;

    .heading {
      color: $dark-darker;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      z-index: 1;
      display: flex;
      justify-content: flex-end;

      .border {
        position: absolute;
        z-index: -1;
        top: calc(50% - 0.5px);
        content: "";
        width: 100%;
        border: solid 1px $dark-border;
      }

      .title {
        padding: 0 0.5rem;
        position: relative;
        background: $dark;
        right: 5%;
        z-index: 2;
        user-select: none;
      }
    }

    .item-container {
      width: 100%;
      position: relative;
      border-radius: 5px;
      margin-bottom: 0.25rem;

      &[data-open="true"] {
        .icon-container {
          opacity: 1;
        }
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .icon-container {
          opacity: 1;
        }
        background-color: rgba(255, 255, 255, 0.05);
      }

      .icon-container {
        position: absolute;
        display: inline-flex;
        height: 100%;
        right: 0;
        top: 0;
        align-items: center;
        opacity: 0;
      }
    }

    .item {
      display: grid;
      padding: 0.25rem;
      padding-left: 0.5rem;
      grid-template-areas: "avatar title" "avatar text";
      width: 100%;
      justify-content: flex-start;
      align-items: inherit;
      grid-template-columns: 50px;
      cursor: pointer;

      .avatar {
        grid-area: avatar;
        background-color: $dark-light;
        margin-right: 0.5rem;
        align-self: center;
      }

      .title {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
      }

      .description {
        margin-top: -0.25ch;
      }
    }
  }

  .informations-container {
    display: grid;
    gap: 1rem;
    grid-template-areas: "name tag" "description description" "createdat members";

    .information-container {
      display: grid;
      grid-template-areas: "title" "content";
      padding: 0.7rem;
      border-radius: 10px;
      border: solid 2px $dark-border;

      .information-title {
        grid-area: title;
        margin-top: -0.25rem;
        user-select: none;
      }

      .information-content {
        grid-area: content;
        width: fit-content;
        white-space: pre-line;
      }
    }

    .name {
      grid-area: name;
    }

    .tag {
      grid-area: tag;
    }

    .description {
      grid-area: description;
    }

    .members {
      grid-area: members;
    }

    .createdat {
      grid-area: createdat;
    }
  }
}
