@use "../config/" as *;

.title {
  width: 100%;
  display: flex;
  padding: 1rem 0.75rem;
  .title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .icon-container {
    display: flex;
    justify-self: flex-end;
  }
}

.messages-container {
  flex: 1 auto;
  flex-direction: column-reverse;
  overflow: hidden;

  .message-section {
    display: grid;
    grid-template-areas: "avatar message .";
    grid-template-columns: 3.5rem auto 3.5rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;

    .avatar {
      grid-area: avatar;
      margin-top: 0.5rem;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: translateY(-2px);
      }
    }

    .message {
      grid-area: message;
      justify-self: start;
      display: grid;
      grid-template-areas: "sender . ." "message message date";
      padding: 0.25rem 0.75rem;
      background-color: $lightest-dark;
      border-radius: 5px;
      margin: 0.2rem 0;
      width: 100%;

      .sender {
        grid-area: sender;
        margin-bottom: 0.25rem;
        width: fit-content;
        &:hover {
          cursor: pointer;
        }
      }

      .text {
        grid-area: message;
      }
      .date {
        grid-area: date;
        font-size: 14px;
        text-align: right;
      }
    }
  }

  .member-log {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;

    .name {
      margin-right: 1ch;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .date-log {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .message-loader {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;

    .loader {
      color: $white;
    }
  }
}

.input-container {
  padding: 0.5rem 0;
  margin: 0 4.25rem;

  .input-content {
    width: 100%;
  }
  .input {
    border-color: $white !important;
  }
}

.burger {
  grid-area: burger;
  display: flex;
  align-items: center;
  padding: calc(1.5rem - 12px);

  .icon {
    color: $white !important;
  }
}

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icon {
  @include icon;
}
