@use "../config/" as *;

.title-container {
  width: 100%;
  display: flex;
  padding: 1rem 0.75rem;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .icon-container {
    display: flex;
    justify-self: flex-end;

    .iconbutton {
      &:hover {
        .icon {
          color: $icon-hover !important;
        }
      }
    }
  }
}

.messages-container {
  flex: 1 auto;
  flex-direction: column-reverse;
  overflow: hidden;
}

.group-container {
  margin: 0.25rem 0;
  display: grid;
  grid-template-areas: "left content right";
  grid-template-columns: 65px calc(100% - 130px) 65px;

  .avatar-container {
    margin: 0.25rem 1rem;
    cursor: pointer;
    height: fit-content;

    &[data-banned="true"] {
      cursor: default;
    }

    &[data-self="true"] {
      grid-area: right;
    }

    &[data-self="false"] {
      grid-area: left;
    }
  }

  .content-container {
    grid-area: content;
    @include flex-column;
  }
}

.date-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.log-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;

  .log {
    margin-right: 1ch;
    &:hover {
      cursor: pointer;
    }
  }
}

.loader-container {
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;

  .loader {
    height: 30vh;
    color: $white;
  }
}

.message-container {
  margin: 0.15rem 0;
  display: grid;

  &[data-self="true"] {
    grid-template-areas: ". message";
    grid-template-columns: 40% 60%;
    justify-items: flex-end;
  }

  &[data-self="false"] {
    grid-template-areas: "message .";
    grid-template-columns: 60% 40%;
    justify-items: flex-start;
  }

  .message {
    grid-area: message;
    padding: 0.75rem;
    background: $lightest-dark;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "name ." "text text";
    width: fit-content;
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0);

    &[data-editing="true"] {
      border: solid 2px rgba($white, 0.2);

      .text {
        cursor: text;
      }
    }

    .name {
      grid-area: name;
      margin-top: -0.25rem;
      cursor: pointer;
      user-select: none;

      &[data-banned="true"] {
        cursor: default;
      }
    }

    .text {
      margin-top: -0.3rem;
      grid-area: text;
      width: fit-content;
      white-space: pre-line;

      .date {
        user-select: none;
        visibility: hidden;
        float: right;
        font-weight: bold;
        font-size: 12px;
        padding-left: 1rem;
        color: $gray-text;
        position: relative;

        &[data-edited="true"] {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          width: 100%;
          padding: 0;

          .inner {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: calc(100% + 0.4rem);
            right: -0.25rem;
            bottom: -0.4rem;
          }
        }

        .inner {
          user-select: none;
          visibility: visible;
          position: absolute;
          bottom: -0.75rem;
          right: -0.25rem;
          float: right;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
  }
}

.chat-input-container {
  padding: 0.5rem 0;
  display: grid;
  grid-template-areas: ". input .";
  grid-template-columns: 65px auto calc(65px + 17px);

  .input-container {
    grid-area: input;

    .multiline {
      padding: calc(0.5rem + 6px) 1rem calc(0.5rem + 7px) 1rem;
      overflow: hidden;
    }

    .input {
      transition: all 0.2s;
      align-items: unset !important;
      display: inline-flex;
      padding: 0 !important;
      border: solid 2px $dark-border;
      border-radius: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      font-family: "IBM Plex Sans", sans-serif;
      color: $white !important;

      &:hover {
        border-color: $dark-dark;
      }

      &.error,
      &:invalid {
        border-color: $dark-error-hover;
        border-color: $dark-error;
        border-color: $dark-error-focus;
      }

      &.disabled {
        border-color: $dark-border;
      }

      &.focus {
        border-color: $dark-light;
      }
    }

    .iconbutton {
      align-items: flex-end;

      .send {
        color: $icon;
        transition: all 0.25s;

        &[data-disabled="false"] {
          color: $white;
        }
      }
    }
  }
}

.burger {
  grid-area: burger;
  display: flex;
  align-items: center;
  padding: calc(1.5rem - 12px);

  .icon {
    color: $white !important;
  }
}

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.chat-settings-container {
  display: flex;
  display: grid;
  grid-template-areas: "settings settings" "member member" "banned banned";
  grid-template-rows: min-content 400px 400px;
  padding: 0 0.75rem;
  padding-bottom: 1rem;
  gap: 1rem;

  .settings-container {
    grid-area: settings;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title ." "avatar form";
    grid-template-columns: min-content auto;
    gap: 1rem 2rem;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .button-container {
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .button {
        white-space: nowrap;
        padding: 0 0.25rem;
      }
    }

    .avatar-container {
      grid-area: avatar;
      display: grid;
      grid-template-areas: "avatar" "avatar" "delete";
      width: fit-content;

      .avatar {
        grid-area: avatar;
        width: 8rem;
        height: 8rem;
        cursor: pointer;
        position: relative;
        &[aria-disabled="true"] {
          cursor: default;
        }
        &[aria-disabled="false"] {
          &::after {
            content: "Upload avatar";
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 14px;
            font-weight: bold;
            background-color: rgba($color: #000000, $alpha: 0.5);
            transition: all 0.25s;
          }
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }

      .delete {
        display: flex;
        justify-content: center;
        grid-area: delete;
        padding-top: 0.1rem;
        font-size: 14px;
      }
    }

    .form-container {
      grid-area: form;

      .form {
        display: grid;
        grid-template-areas: "name name description" "tag public description" ". . buttons";
        gap: 0.5rem;

        .name {
          grid-area: name;
        }

        .tag {
          grid-area: tag;
        }

        .description {
          grid-area: description;
        }

        .public {
          justify-self: center;
          grid-area: public;
          padding: 0 0.5rem;
        }
      }
    }
  }

  .label {
    color: $gray-text !important;
    font-weight: bold;
    font-family: $font;
  }

  .member-container {
    grid-area: member;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title" "searchbar" "list";
    grid-template-rows: min-content min-content auto;
    gap: 1rem 2rem;
    max-height: 400px;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .searchbar {
      grid-area: searchbar;
      width: 100%;
    }

    .list-container {
      grid-area: list;
      @include flex-column;

      .item-container {
        width: 100%;
        position: relative;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &[data-open="true"] {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:last-child {
          margin-bottom: 17px;
        }

        &:hover {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        .icon-container {
          position: absolute;
          display: inline-flex;
          right: 0;
          top: 0;
          align-items: center;
          opacity: 0;
        }
      }

      .item {
        display: grid;
        padding: 0.25rem;
        padding-left: 0.5rem;
        grid-template-areas: "avatar title" "avatar text" "options options";
        width: 100%;
        justify-content: flex-start;
        align-items: inherit;
        grid-template-columns: 50px calc(100% - 50px);
        cursor: pointer;

        .avatar {
          grid-area: avatar;
          background-color: $dark-light;
          margin-right: 0.5rem;
          align-self: center;
        }

        .title {
          display: flex;
          justify-content: flex-start;
          width: fit-content;
        }

        .description {
          grid-area: text;
          margin-top: -0.25ch;
        }

        .options-container {
          cursor: default;
          padding: 1rem;
          grid-area: options;
          display: grid;
          grid-template-areas: "form form";

          &[data-collapsed="true"] {
            display: none;
          }

          .form-container {
            grid-area: form;

            .form {
              display: grid;
              grid-template-areas: "role permission" "buttons buttons";
              gap: 1rem;

              .role-container {
                grid-area: role;
              }

              .permission-container {
                grid-area: permission;

                &[data-visible="false"] {
                  opacity: 0;
                }
              }
            }
          }

          .button-container {
            grid-area: buttons;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .button {
              padding: 0 0.25rem;
            }
          }
        }
      }
    }
  }

  .banned-container {
    grid-area: banned;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title" "searchbar" "list";
    grid-template-rows: min-content min-content auto;
    gap: 1rem 2rem;
    max-height: 400px;
    margin-bottom: 17px;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .searchbar {
      grid-area: searchbar;
      width: 100%;
    }

    .list-container {
      grid-area: list;
      @include flex-column;

      .item-container {
        width: 100%;
        position: relative;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &[data-open="true"] {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:last-child {
          margin-bottom: 17px;
        }

        &:hover {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        .icon-container {
          position: absolute;
          display: inline-flex;
          right: 0;
          top: 0;
          align-items: center;
          opacity: 0;
        }
      }

      .item {
        display: grid;
        padding: 0.25rem;
        padding-left: 0.5rem;
        grid-template-areas: "avatar title" "avatar text" "options options";
        width: 100%;
        justify-content: flex-start;
        align-items: inherit;
        grid-template-columns: 50px calc(100% - 50px);
        cursor: pointer;

        .avatar {
          grid-area: avatar;
          background-color: $dark-light;
          margin-right: 0.5rem;
          align-self: center;
        }

        .title {
          display: flex;
          justify-content: flex-start;
          width: fit-content;
        }

        .description {
          grid-area: text;
          margin-top: -0.25ch;
        }

        .options-container {
          cursor: default;
          padding: 1rem;
          grid-area: options;

          &[data-collapsed="true"] {
            display: none;
          }

          .button {
            display: flex;
            justify-content: flex-end;
            padding: 0.25rem;
          }
        }
      }
    }
  }
}

.icon {
  @include icon;
}

@include small {
  .settings-container {
    grid-template-areas: "title ." "avatar avatar" "form form" !important;
  }
}

@include smaller {
  .settings-container {
    grid-template-areas: "title ." "avatar avatar" "form form" !important;

    .form {
      grid-template-areas: "name name" "tag public" "description description" "buttons buttons" !important;
    }
  }

  .options-container {
    .form {
      grid-template-areas: "role" "permission" "buttons" !important;
    }

    .button-container {
      flex-direction: column;

      .button {
        padding: 0.25rem 0 !important;
      }
    }
  }
}

@include smallest {
  .settings-container {
    grid-template-areas: "title ." "avatar avatar" "form form" !important;

    .form {
      grid-template-areas: "name name" "tag public" "description description" "buttons buttons" !important;
    }
  }

  .options-container {
    .form {
      grid-template-areas: "role" "permission" "buttons" !important;
    }
  }

  .message-container {
    grid-template-columns: auto auto !important;
  }
}
