@use "../config/" as *;

.name {
  display: inline-flex;
  align-items: center;
  .icon {
    align-self: flex-start;
    margin-left: 1ch;
  }
}

.no-shared {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-darker;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.members {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0 5%;

  .heading {
    color: $dark-darker;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;

    .border {
      position: absolute;
      z-index: -1;
      top: calc(50% - 0.5px);
      content: "";
      width: 100%;
      border: solid 1px $dark-border;
    }

    .title {
      padding: 0 0.5rem;
      position: relative;
      background: $dark;
      right: 5%;
      z-index: 2;
    }
  }

  .item-container {
    width: 100%;
    position: relative;
    transition: all 0.2s;
    border-radius: 5px;

    &:hover {
      .icon-container {
        opacity: 1;
      }
      background-color: rgba(255, 255, 255, 0.1);
    }

    .icon-container {
      position: absolute;
      display: inline-flex;
      height: 100%;
      right: 0;
      top: 0;
      align-items: center;
      opacity: 0;
    }
  }

  .item {
    display: grid;
    padding: 0.25rem;
    grid-template-areas: "avatar title" "avatar text";
    width: 100%;
    justify-content: flex-start;
    align-items: inherit;
    grid-template-columns: 50px;
    cursor: pointer;

    .avatar {
      grid-area: avatar;
      background-color: $dark-light;
      margin-right: 0.5rem;
      align-self: center;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      width: fit-content;
    }

    .description {
      color: $white;
    }
  }
}

.icon {
  color: #bdc2bf;
  width: 1.5rem;
  height: 1.5rem;
}
