@use "../config/" as *;

.fade {
  transition: opacity 1500ms ease-out, transform 300ms ease-out;
  will-change: opacity, visibility, scale;
  width: 100vw;
  height: 100%;

  &[data-visible='true'] {
    opacity: 1;
    transform: scale(1);
    transform: none;
    visibility: visible;
  }

  &[data-visible='false'] {
    transform: scale(0.9);
    // transform: translate(0, 25%);
    opacity: 0;
    visibility: hidden;
  }
}
