@use "../config/" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-dark;
  width: 100%;
  background-color: $darker;
  padding-bottom: 1rem;
}

.footer-section {
  border-top: solid 1px $dark-border;
  padding: 1rem;
  width: 80%;
  display: flex;

  .quick-nav {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "title" "columns";
    grid-template-columns: 100%;
    width: 100%;

    .title {
      grid-area: title;
      color: $white;
    }

    .columns {
      grid-area: columns;
      display: flex;
      justify-content: space-between;

      .column {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        line-height: 2.5;
      }

      .column-link {
        padding: 0.25rem;
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@include smaller {
  .columns {
    flex-direction: column;
  }
}

@include smallest {
  .columns {
    flex-direction: column;
  }
}
