@use "../config/" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-dark;
  width: 100%;
  background-color: $darker;
  padding-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: solid 1px $dark-border;
  padding: 1rem;
}

.quick-nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  grid-template-areas: "title" "columns";
  grid-template-columns: 100%;

  .title {
    grid-area: title;
    color: $white;
  }

  .columns {
    grid-area: columns;
    display: flex;
    justify-content: space-between;
  }
}

.column {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  line-height: 2.5;
}

.column-link {
  padding: 0.25rem;
}
