@use "../config/" as *;

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 1rem;

  .child {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  background-color: $secondary !important;
  color: $white !important;
  font-weight: bold !important;
  font-size: 14px !important;
  &:hover {
    background-color: $secondary-hover !important;
  }
}

.logo-container {
  color: $dark-lighter;
}

.navigation-container {
  flex: 1 auto;
}
