@use "../config/" as *;

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    'searchbar profile'
    'chatlist chat';
  max-height: 100vh;
  max-width: 100vw;
  align-items: stretch;
  justify-content: stretch;
  grid-template-rows: 10% 90%;
  grid-template-columns: 25%;
  .chatlist-container {
    grid-area: chatlist;
    display: flex;
    flex-direction: column;
    border-right: solid 1px $dark-border;
  }

  .chat-content-container {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      border-bottom: solid 1px $dark-border;
      padding-left: 0.5rem;

      .title {
        color: $white;
      }
    }

    .messages {
      padding-top: 5rem;
      padding-bottom: 2rem;
      display: flex;
      flex: 1 auto;
      flex-direction: column-reverse;
      max-height: 100%;
      overflow-y: scroll;

      .message-position {
        width: 100%;
        display: grid;
        grid-template-areas: 'left date right';
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(3, calc(100% / 3));
        word-break: break-all;

        .message-date {
          justify-self: center;
          grid-area: date;
          padding: 0.25rem 1rem;
          display: flex;
          justify-content: center;
          border-radius: 10px;
          font-size: 14px;
          font-weight: bold;
          background-color: $dark-border;
        }

        .message-container {
          width: fit-content;
          display: grid;
          grid-template-areas:
            'sender .'
            'message message'
            '. date';
          align-items: stretch;
          grid-template-rows: auto auto auto;
          grid-template-columns: auto auto;
          margin: 0.25rem 0;
          padding: 0.5rem 0.75rem;
          background-color: $dark-border;
          border-radius: 5px;
          grid-area: left;
          justify-self: start;
          margin-left: 1rem;
          &.self {
            grid-area: right;
            justify-self: end;
            margin-right: 1rem;
            margin-left: 0;
          }

          .message {
            grid-area: message;
            max-width: inherit;
          }
          .sender {
            max-width: inherit;
            grid-area: sender;
          }
          .date {
            grid-area: date;
            text-align: right;
            font-size: 12px;
          }
        }
      }
    }

    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;
    }
  }

  .profile-container {
    grid-area: profile;
  }

  .searchbar-container {
    grid-area: searchbar;
  }
}

.chat-select-container {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
