@use "../config/" as *;

.base-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  border: solid 2px $dark-dark;
  transition: all 0.2s;
  &:hover {
    border-color: $dark-light;
  }
  &:focus {
    border-color: $dark-lighter;
  }
  &:invalid {
    border-color: $dark-error;
  }

  &[data-error='true'] {
    border-color: $dark-error;
    &:hover {
      border-color: $dark-error-hover;
    }
    &:focus {
      border-color: $dark-error-focus;
    }
  }
}
