@use "../config/" as *;

.input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "IBM Plex Sans", sans-serif;
  color: $white !important;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: solid 2px $dark-dark;
  transition: all 0.2s;
  &:hover {
    border-color: $dark-light;
  }

  &.error,
  &:invalid {
    border-color: $dark-error-hover;
    border-color: $dark-error;
    border-color: $dark-error-focus;
  }

  &.disabled {
    border-color: $dark-dark;
  }

  &.focus {
    border-color: $dark-lighter;
  }
}

.checkbox {
  color: $dark-dark !important;

  &:hover {
    background-color: rgba($dark-dark, 0.05) !important;
  }

  &.secondary {
    color: $dark-dark !important;
  }
}

.searchbar-container {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  min-width: 300px;
  width: 100%;
  background-color: $darker;
  border-radius: 5px;
  border: solid 1px $dark-border;

  .searchbar {
    margin-left: 0.5rem;
    flex: 1;
    color: $gray-text;
  }

  .iconbutton {
    padding: 0;
  }

  .icon {
    color: $gray-text;
    margin: 0 0.25rem;
  }
}
