@use "../config/" as *;

.scroll-thumb {
  background-color: $dark-border;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "burger content";
  max-height: 100vh;
  max-width: 100vw;
  align-items: stretch;
  justify-content: stretch;
  transition: all 0.5s;
  grid-template-columns: min-content auto;

  &[data-open="true"] {
    .burger-container {
      width: calc(15rem + 17px);
    }
  }

  &[data-open="false"] {
    .burger-container {
      width: calc(5rem + 17px);
    }
  }

  .content-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s;

    &[data-overflow="true"] {
      transform: scale(0.95);
    }
  }
}

.burger-container {
  grid-area: burger;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  height: 100%;
  transition: all 0.5s;
}
