@use "../config/" as *;

.scroll-thumb {
  background-color: $dark-border;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "burger-menu profile-menu"
    "burger content";
  max-height: 100vh;
  max-width: 100vw;
  align-items: stretch;
  justify-content: stretch;
  grid-template-rows: max-content auto;
  grid-template-columns: max-content auto;

  .content-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .burger-menu-container {
    grid-area: burger-menu;
  }

  .profile-menu-container {
    grid-area: profile-menu;
  }
}

.burger-container {
  grid-area: burger;
  display: flex;
  flex-direction: column;
  width: calc(15rem + 17px);
  background-color: $dark;
  height: 100%;
}

.collapsed-burger-container {
  grid-area: burger;
  display: flex;
  padding: 1rem 0.75rem;
  height: 80px;
  align-items: center;

  .iconbutton {
    padding: 0;
  }

  .icon {
    color: $icon;
  }
}
