@use "../config/" as *;

.title-container {
  width: 100%;
  display: flex;
  padding: 1rem 0.75rem;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.user-settings-container {
  display: flex;
  display: grid;
  grid-template-areas: "settings settings" "chats chats" "banned banned";
  grid-template-rows: min-content 400px 400px;
  padding: 0 0.75rem;
  padding-bottom: 1rem;
  gap: 1rem;

  .settings-container {
    grid-area: settings;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title ." "avatar form";
    grid-template-columns: min-content auto;
    gap: 1rem 2rem;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .button-container {
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .button {
        white-space: nowrap;
        padding: 0 0.25rem;
      }
    }

    .avatar-container {
      grid-area: avatar;
      display: grid;
      grid-template-areas: "avatar" "avatar" "delete";
      width: fit-content;

      .avatar {
        grid-area: avatar;
        width: 8rem;
        height: 8rem;
        cursor: pointer;
        position: relative;
        &[aria-disabled="true"] {
          cursor: default;
        }
        &[aria-disabled="false"] {
          &::after {
            content: "Upload avatar";
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 14px;
            font-weight: bold;
            background-color: rgba($color: #000000, $alpha: 0.5);
            transition: all 0.25s;
          }
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }

      .delete {
        display: flex;
        justify-content: center;
        grid-area: delete;
        padding-top: 0.1rem;
        font-size: 14px;
      }
    }

    .form-container {
      grid-area: form;

      .form {
        display: grid;
        grid-template-areas: "name name description" "tag locale description" ". . buttons";
        gap: 0.5rem;

        .name {
          grid-area: name;
        }

        .tag {
          grid-area: tag;
        }

        .description {
          grid-area: description;
        }

        .locale {
          grid-area: locale;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .label {
    color: $gray-text !important;
    font-weight: bold;
  }

  .chats-container {
    grid-area: chats;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title" "searchbar" "list";
    grid-template-rows: min-content min-content auto;
    gap: 1rem 2rem;
    max-height: 400px;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .searchbar {
      grid-area: searchbar;
      width: 100%;
    }

    .list-container {
      grid-area: list;
      @include flex-column;

      .item-container {
        width: calc(100% - 17px);
        position: relative;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &[data-open="true"] {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:last-child {
          margin-bottom: 17px;
        }

        &:hover {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        .icon-container {
          position: absolute;
          display: inline-flex;
          right: 0;
          top: 0;
          align-items: center;
          opacity: 0;
        }
      }

      .item {
        display: grid;
        padding: 0.25rem;
        padding-left: 0.5rem;
        grid-template-areas: "avatar title" "avatar text" "options options";
        width: 100%;
        justify-content: flex-start;
        align-items: inherit;
        grid-template-columns: 50px calc(100% - 50px);
        cursor: pointer;

        .avatar {
          grid-area: avatar;
          background-color: $dark-light;
          margin-right: 0.5rem;
          align-self: center;
        }

        .title {
          display: inline-flex;
          align-items: center;
          line-height: 1;
          .icon {
            align-self: flex-start;
            margin-left: 0.5ch;
            color: $icon-hover !important;
            transform: scale(0.75);
          }
        }

        .description {
          grid-area: text;
          margin-top: -0.25ch;
        }

        .options-container {
          cursor: default;
          padding: 1rem;
          grid-area: options;
          display: grid;
          grid-template-areas: "form form";

          &[data-collapsed="true"] {
            display: none;
          }

          .form-container {
            grid-area: form;

            .form {
              display: grid;
              grid-template-areas: "role permission" "buttons buttons";
              gap: 1rem;

              .role-container {
                grid-area: role;
              }

              .permission-container {
                grid-area: permission;

                &[data-visible="false"] {
                  opacity: 0;
                }
              }
            }
          }

          .button-container {
            grid-area: buttons;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .button {
              padding: 0 0.25rem;
            }
          }
        }
      }
    }
  }

  .banned-container {
    grid-area: banned;
    border-radius: 10px;
    padding: 1rem;
    border: solid 2px $dark-border;
    display: grid;
    grid-template-areas: "title" "searchbar" "list";
    grid-template-rows: min-content min-content auto;
    gap: 1rem 2rem;
    max-height: 400px;
    margin-bottom: 17px;

    .title {
      grid-area: title;
      margin-top: -0.25rem;
    }

    .searchbar {
      grid-area: searchbar;
      width: 100%;
    }

    .list-container {
      grid-area: list;
      @include flex-column;

      .item-container {
        width: calc(100% - 17px);
        position: relative;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &[data-open="true"] {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:last-child {
          margin-bottom: 17px;
        }

        &:hover {
          .icon-container {
            opacity: 1;
          }
          background-color: rgba(255, 255, 255, 0.05);
        }

        .icon-container {
          position: absolute;
          display: inline-flex;
          right: 0;
          top: 0;
          align-items: center;
          opacity: 0;
        }
      }

      .item {
        display: grid;
        padding: 0.25rem;
        padding-left: 0.5rem;
        grid-template-areas: "avatar title" "avatar text" "options options";
        width: 100%;
        justify-content: flex-start;
        align-items: inherit;
        grid-template-columns: 50px calc(100% - 50px);
        cursor: pointer;

        .avatar {
          grid-area: avatar;
          background-color: $dark-light;
          margin-right: 0.5rem;
          align-self: center;
        }

        .title {
          display: flex;
          justify-content: flex-start;
          width: fit-content;
        }

        .description {
          grid-area: text;
          margin-top: -0.25ch;
        }

        .options-container {
          cursor: default;
          padding: 1rem;
          grid-area: options;

          &[data-collapsed="true"] {
            display: none;
          }

          .button {
            display: flex;
            justify-content: flex-end;
            padding: 0.25rem;
          }
        }
      }
    }
  }
}
