@use "../config/" as *;

.container {
  width: 100%;
  display: grid;
  grid-template-areas: "title" "description" "form";
  gap: 1rem;

  .title {
    grid-area: title;
  }

  .description {
    grid-area: description;
    color: $gray-text;
  }

  .form-container {
    grid-area: form;

    .form {
      display: grid;
      grid-template-areas: "username" "password" "buttons";
      grid-gap: 1rem;

      .username {
        grid-area: username;
      }

      .password {
        grid-area: password;
      }

      .button-container {
        grid-area: buttons;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.iconbutton {
  padding: 0 !important;

  .icon {
    @include icon;
  }
}
