@use "../config/" as *;

.no-shared {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-darker;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.shared-chats {
  display: grid;
  overflow-y: auto;
}
