@use "./config" as *;

html {
  box-sizing: border-box;
  touch-action: manipulation;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  background-color: $dark;
  color: $dark-lighter;
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

::selection {
  color: $white;
  background-color: $black;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

img,
svg,
textarea {
  vertical-align: top;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font: inherit;
}

button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
